<htmL>
    <head>
        {% block title %}
        <title>base</title>
        {% endblock %}
        <link rel="stylesheet" href="static/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <img src="static/imgs/terraria.png" alt="terraria." class="logo">
            <a class="a1" a href="/outros">Mais</a><span class="a1">┃</span>
            <a class="a1" a href="/portifolio">Projetos</a><span class="a1">┃</span>
            <a class="a1" a href="/home">Home</a>
        </header>
        {% block mais %}
        {% endblock %}
        {% block home %}
        {% endblock %}
        {% block port %}
        {% endblock %}
    </body>