<htmL>
    <head>
        {% block title %}
        <title>base</title>
        {% endblock %}
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <header>
            <a href="/home"><img src="static/imgs/terraria.png" alt="terraria." height=125 wclassth=100></a>
            <a class="a1" a href="/outros">Mais</a><span class="a1">┃</span>
            <a class="a1" a href="/portifolio">Projetos</a><span class="a1">┃</span>
            <a class="a1" a href="/home">Home</a>
        </header>
        {% block mais %}
        {% endblock %}
        {% block home %}
        {% endblock %}
        {% block port %}
        {% endblock %}
    </body>