<!DOCTYPE html>
<html>
    {% extends "base.html" %}
    {% block title %}
    <title>Mais</title>
    {% endblock %}
    {% block mais %}
        <div class="texto">
            <p>
                <h2>Informações adcionais:</h2>
                <ul>
                    <li>Minha fruta favorita é morango</li>
                    <li>Eu sempre pratiquei atividades físicas. Atualmente vou à academia</li>
                    <li>No meu tempo livre eu gosto de jogar</li>
                    <li>Minha matéria favorita na escola era história e depois matemática</li>
                    <li>Quero aprender russo, japonês e espanhol</li>
                </ul>
            </p>
        </div>
    {% endblock %}
</htmL>