<!DOCTYPE html>
<html>
    {% extends "base.html" %}
    <head>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block nav %}
        {% endblock %}
        {% block corpo %}
        <div class="a1">
            <p>
                <h2>Informações adcionais:</h2>
                <ul>
                    <li>TEXTOTEXTOTEXTOTEXTO</li>
                    <li>TEXTOTEXTOTEXTO</li>
                    <li>TEXTOTEXTO</li>
                </ul>
            </p>
        </div>
        {% endblock %}
    </body>
</htmL>