body{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

#link_a{
    float: right;
    margin-top: 5%;
}

.a1{
    margin-top: 5%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: black;
    font-size: 1.2vw;
    text-decoration: double;
    text-align: left;
}

#foto{
    float: left;    
    margin: 0 15px 0 0;
}

a{
    text-decoration: none;
    color: white;
}