body{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin: 0%;
    background-color: #5177ff;
}

header{
    padding-left: 5%;
    padding-right: 5%;
    background-color: #119DA4;
    border-bottom: solid white;
}

.texto{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: black;
    font-size: 1.35vw;
    text-decoration: double;
    text-align: left;
}

#foto{
    float: left;    
    margin: 0 3vw 0 0;
    height: 33vh;
    width: 13vw;
}

a{
    text-decoration: none;
}

.a1{
    color: white;
    float: right;
    margin-top: 4%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.a2{
    color: black;
}

.projetos1{
    height: 20vh;
    width: 9vw;
    float: left;    
    margin: 0 3vw 0 0;
}

.projetos2{
    height: 18vh;
    width: 9vw;
    float: left;    
    margin: 0 3vw 0 0;
}

.logo{
    height: 15vh;
    width: 15vw;
    margin-left: 42%;
}

@media only screen and (max-width: 500px) {
    .logo{
        height: 10%;
        width: 33%;
        margin-left: 32%;
    }

    .texto{
        font-size: 3vw;
    }
    
    #foto{
        float: left;    
        margin: 0 6vw 0 0;
        height: 25%;
        width: 40%;
    }

    .projetos1{
        height: 25%;
        width: 25%;
    }

    .projetos2{
        height: 15vh;
        width: 28%;
        margin: 0 6vw 0 0;
    }
}

@media only screen and (max-width: 1000px) {
    .logo{
        height: 10%;
        width: 33%;
        margin-left: 32%;
    }

    .texto{
        font-size: 3vw;
    }
    
    #foto{
        float: left;    
        margin: 0 6vw 0 0;
        height: 25%;
        width: 40%;
    }

    .projetos1{
        height: 25%;
        width: 25%;
    }

    .projetos2{
        height: 15vh;
        width: 28%;
        margin: 0 6vw 0 0;
    }
}